<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <connectionStrings>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
        <add name="FernandoLunaBaseEntities" connectionString="metadata=res://*/FernandoLunaBase.csdl|res://*/FernandoLunaBase.ssdl|res://*/FernandoLunaBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC2;initial catalog=FernandoLunaBase;user id=sa;password=huevos;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      </connectionStrings>
    </startup>
</configuration>